*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box !important;
    text-decoration: none;
    
    
}
body{
    background-color: #040C18;
}

.header{
    overflow: hidden;
    width: 100%;
    background-color: #031328;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle at 3% 25%,#002853 0,#040c18 100%);
    padding: 0px 0px;
    margin: auto;
}
.navigator{
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
.links{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links img{
    height: auto;
    width: 70px;
}
.links a{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(73, 73, 73, 0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    
    
}
.links a:hover{
    background-color: rgba(73, 73, 73, 0.315);
    padding: 5px 15px;

    
}

.accounts{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.accounts a{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    
}
.signin{
    background-color: rgba(73, 73, 73, 0);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    padding: 5px 15px;
    
}
.signin:hover{
    background-color: rgba(73, 73, 73, 0.315);
    
}
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4820;
    width: 50%;
    padding: 10px 20px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    transition: 0.4s;
}

.signup:hover{
    background-color: white;
    color: #FF4820;
}

.hero{
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
    overflow-x: hidden;
}
.hero img{
    height: auto;
    width: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 20px 0px;
}
.text h1{
    font-size: 2.25rem;
    font-weight: 800;
    margin: 0px 10px;
    /* color: #CB7BBE; */
    background: linear-gradient(90deg,#ae67fa 1.84%,#f49867 102.67%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    
}
.text p{
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 10px;
    /* color: #81A2B2; */
    background: linear-gradient(89.97deg,#83adc2 1.84%,#c0deec 102.67%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.email{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.email input{
    width: 70%;
    line-height: 27px;
    background-color: #0000008a;
    font-size: 12pt;
    border: none;
    border-radius: 5px 00px 0px 5px;
    padding: 10px 1rem;
}
.email a{
    background-color: #FF4820;
    width: 30%;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    padding: 10px 0px;
    color: white;
    border-radius: 0 5px 5px 0;
    transition: 0.4s;
    
}
.email a:hover{
    background-color: white;
    color: #FF4820;
    
}


.stranger{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px 0px;
}
.stranger p{
    font-size: 0.65rem;
    color: white;
}
.stranger img{
    width: 30%;
    padding: 0px 10px;
}


/*COMPANY--------------------------------------------------------------------------*/

.company{
    width: 100%;
    padding: 50px 0px;
    background-color: #040C18;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.companybased{
    width: 70%;
    max-width: 1120px;
    padding: 50px 0px;
    background-color: #040C18;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.companybased img{
    width: 10%;
    height: auto;
}

/*whatisgpt-----------------------------------------------------------------------*/
.whatisgpt{
    width: 100%;
    background-color: #040C18;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    overflow:visible;
    overflow-x: hidden;
}
.whatisgptbased{
    background: linear-gradient(45deg,#042C54 70%,#264f79 );
    background-color: #042C54;
    width: 100%;
    max-width: 1120px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.t{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.m{
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.d{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.wigtitle{
    width: 50%;
    height: 100%;
    position: relative;
}

.wigtitle h2{
    font-size: 1.25rem;
    margin-top: 10px;
    font-weight: 800;
    color: white;
}
.t p{
    font-weight: 600;
    font-size: 0.8rem;
    color: #83adc2;
    line-height: 1.5em;
    
}
.topline{
    width: 50px;
    height: 4px;
    background: linear-gradient(45deg,#5c11ac 0%,#ae67fa 50% ,#f49867 );
    position: absolute;
    top: 5px;
    left: 0;
    
}

.mtitle{
    width: 40%;
    position: relative;
    display: flex;
    align-items: flex-start;
}
.mtitle h1{
    font-size: 2rem;
    background: linear-gradient(90deg,#ae67fa 15%,#f49867 102.67%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
}
.m a{
    color: #f49867;
}
.chatbots{
    width: 40%;
    padding: 10px 20px 0px 0px;
    position: relative;
}

.chatbots h2{
    font-size: 1.25rem;
    font-weight: 800;
    color: white;
    margin: 0px 0px 5px 0px;
}
.chatbots p{
    margin: 10px 10px 0px 0px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #83adc2;
    line-height: 1.5em;
}

/* Uses -------------------------------------------------------------------------------------------------------*/
.uses{
    width: 100%;
    height: auto;
    background-color: #040C18;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    max-width: 1120px;
    overflow-x: hidden;
    margin: auto;
}
.usesTitle{
    width: 40%;
    height: 90%;
}
.usesDescription{
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.usesTitle h1{
    font-size: 1.25rem;
    background: linear-gradient(90deg,#ae67fa 10%,#f49867 90%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
    margin-bottom: 20px;
}
.usesTitle h2{
    font-size: 12pt;
    color: #f49867;
}
.udBase{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    position: relative;
}
.udTitle{
    width: 35%;
    height: 100%;
}
.udTitle h2{
    font-size: 1rem;
    font-weight: 800;
    color: white;
    margin: 10px 0px 20px ;
    
}
.udBase p{
    font-size: 0.8rem;
    width: 80%;
    font-weight: 600;
    color: #83adc2;
    line-height: 1.5em;
}



/* EARLY ACCESS------------------------------------------------------------------------------------------------------- */
.earlyAccess{
    width: 100%;
    max-width: 1120px;
    padding: 30px 20px;
    background-color: #040C18;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin: auto;
}
.earlyAccess img{
    width: 60%;
    height: auto;
}
.earlyAccessText{
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}
.earlyAccessText h1{
    font-size: 1.45rem;
    background: linear-gradient(90deg,#ae67fa 10%,#f49867 90%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
    margin-bottom: 20px;
}
.earlyAccessText p{
    font-size: 0.8rem;
    width: 100%;
    font-weight: 600;
    color: #83adc2;
    line-height: 1.5em;
}
.blue{
    font-size: 0.9rem;
    font-weight: 600;
    color: #71E4D9;
    margin: 10px 0px;
}
.orange{
    font-size: 0.9rem;
    font-weight: 600;
    color: #f49867;
    margin: 10px 0px;
}

/* REGISTER-------------------------------------------------------------------------------------------- */

.register{
    width: 100%;
    height: auto;
    background-color: #040C18;
    padding: 30px 20px;
    max-width: 1120px;
    overflow-x: hidden;
    margin: auto;
}
.registerBase{
    width: 100%;
    padding: 40px 30px;
    border-radius: 20px;
    background: linear-gradient(90deg,#ae67fa 10%,#f49867 90%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.registerText{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.8rem;
}
.registerButton button{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: black;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 1rem;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.registerButton button a{
    color: white;

}

.registerButton button:hover{

    background-color: white;
}
.registerButton button:hover a{
    color: black;
}


/*--------------------------------------------------------------BLOGGING---------------------------------------------------------------*/

.blogging{
    width: 100%;
    height: 100vh;
    background-color: #040C18;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-x: hidden;
    max-width: 1120px;
    margin: auto;
    padding: 20px 0px;
}
.blogging-head{
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0px 10px;
    /* color: #CB7BBE; */
    background: linear-gradient(90deg,#ae67fa 1.84%,#f49867 102.67%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.blogging-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}
.blogging-container-groupA{
    height: auto;
    width: 40%;
    background-color: #031B34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px ;
} 

.blogging-container-groupA-cardContainer{
    height: 100%;
    width: 100%;
    background-color: #031B34;

}
.blogging-container-groupA-cardContainer-img img{
    width: 100%;
    height: 50%;
    
}
.blogging-container-groupA-cardContainer-text{
    padding: 40px 20px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blogging-container-groupA-cardContainer-text h2{
    font-size: 1.8rem;
    color: white;
    font-weight: 800;
}
.blogging-container-groupA-cardContainer-text p{
    font-size: 1rem;
    color: white;
    font-weight: 800;
}
.blogging-container-groupA-cardContainer-text a:hover{
    text-decoration: underline;
    color: white;
}

.blogging-container-groupB{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
}
.blogging-container-groupB-cardContainer{
    border-radius: 10px;
    padding-bottom: 30px;
    overflow: hidden;
    height: 45%;
    width: 45%;
    background-color: #031B34;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.blogging-container-groupB-cardContainer-img img{
    width: 100%;
    height: 40%;
    
}
.blogging-container-groupB-cardContainer-text{
    padding: 20px 20px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blogging-container-groupB-cardContainer-text h2{
    font-size: 0.8rem;
    color: white;
    font-weight: 800;
}
.blogging-container-groupB-cardContainer-text p{
    font-size: 0.6rem;
    color: white;
    font-weight: 800;
}
.blogging-container-groupB-cardContainer-text a:hover{
    text-decoration: underline;
    color: white;
}


/*------------------------------------------------------FOOTER---------------------------------------------------------*/
.footer{
    width: 100%;
    padding: 30px 20px;
    
    
    background-color: #031B34;
    overflow-x: hidden;
}
.footer-head{
    width: 100%;
    padding: 10px;
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer-head h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    background: linear-gradient(90deg,#ae67fa 1.84%,#f49867 102.67%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.footer-head h3{
    color: white;
    border: 1px solid #fff;
    padding: 0.8rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.footer-head h3:hover{
    background-color: white;
    color: #031B34;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.footer-info{
    max-width: 1120px;
    margin: auto;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}
.footer-copyright{
    width: 100%;
    height: 10vh;
    display: flex;
    
    justify-content: center;
    align-items: center;

}
.footer-copyright p{
    max-width: 1120px;
    margin: auto;
    font-size: 0.8rem;
    color: white;
}
.footer-info-place{
    height: 70%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-info-place p{
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    margin: 10px 0px 0px 0px;
}
.footer-info-place h3{
    font-size: 0.9rem;
    font-weight: 800;
    color: white;
    margin: 0px 0px 10px 0px;
}
